.header__home {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
}

.header__home a {
  text-decoration: none;
}

.ul__navbar-home {
  list-style: none;
  display: flex;
}

.ul__navbar-home li {
  margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  .header__home {
    padding: 0 1rem;
  }
}
