.datos__accion--venta {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.datos__accion--venta h1 {
  color: #f44336;
}

@media only screen and (max-width: 600px) {
  .datos__accion--venta {
    flex-direction: column;
  }
  .datos__accion--venta h1 {
    margin-bottom: 0;
  }
  .datos__accion--venta p {
    margin-top: 0;
  }
}
