.dialog__container {
  margin: 3rem 9rem;
}

.accion__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.accion__container h1 {
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
}

.accion__container p {
  margin: 0;
}

.datos__accion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.datos__accion h1 {
  /* font-size: 2rem; */
  color: #66bb6a;
}

.compra__container {
  margin: 3rem 4rem;
}

.compra__container div {
  display: flex;
  justify-content: space-between;
}

.datos__transaccion {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmar__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.btns__container-accion {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 80%;
}
