.main__porfolio a {
  text-decoration: none;
}

.main__porfolio p {
  margin: 0;
}

.button-group__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  width: 65%;
}

.btn__invertir button {
  width: 20rem;
}

.dinero__container {
  display: flex;
  align-items: center;
}

.portfolio__container {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .portfolio__container img {
    /* flex-direction: column; */
    display: none;
  }

  .button-group__container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-group__container button,
  a {
    width: 100%;
    margin: 0.2rem 0;
    display: flex;
    justify-content: flex-start;
  }
}
