p,
h1,
h3,
li {
  color: #fff;
}

main {
  padding: 0 2rem;
}

::-webkit-scrollbar {
  width: 0.3rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235, 235, 235);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  main {
    padding: 0 1rem;
  }
}
