footer {
  padding: 0 2rem;
}

.disclaimer {
  font-size: 12px;
  color: #8c8c8c;
  text-align: center;
  margin-top: 10px;
}

.i {
  text-align: center;
}

.i a {
  width: fit-content;
  text-align: center;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.5s;
}

.i a:hover {
  background-size: 100% 1px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 0 1rem;
  }
}
