.dialog__ingresar-dinero {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 2rem 3rem;
}

.btns__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.saldo__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.input__ingresar-dinero {
  width: 20rem;
}

@media only screen and (max-width: 768px) {
  .dialog__ingresar-dinero {
    margin: 0;
  }
  .input__ingresar-dinero {
    width: 100%;
  }
}
